name: Publish NPM Package

on:
    workflow_dispatch:
    push:
        tags:
            - '*'

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v5
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org/
            - run: yarn install --frozen-lockfile
            - run: yarn build
            - name: Run quality checks
              run: |
                  cd packages/contract-getters
                  npm run typecheck
                  npm run lint
            - name: Publish to NPM
              run: |
                  cd packages/contract-getters
                  yarn version --immediate ${{ github.ref_name }}
                  npm publish --tag beta
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
